<div class="post">
  <a class="post-link" href="<%= page.link %>">
  <p class="post-meta left"><%= strftime(page.date) %></p>
  <p class="post-author right">Written by <%= page[:author] || conf.author %></p>
  <div class="clearfix"></div>
  <h3 class="h2 post-title"><%= page.title %> <%= if page[:draft] do %>(draft) <% end %></h3>
  <p class="post-summary"><%= page.summary %></p>
  </a>
  <% baseurl = conf.base_url %>
  <p class="post-meta">Tags:&nbsp;
    <%= Stream.map(page.tags, &("<a href=\"#{baseurl}/#{index_link("tags", &1)}\"> #{&1} </a>")) |> Enum.join(",&nbsp;") %>
  </p>
</div>
