<div class="pagination clearfix mb1 mt4">
  <div class="left">
  <%= if page.paginator.prev_url do %>
  <a class="pagination-item" href="<%= page.paginator.prev_url %>">Newer</a>
  <% else %>
  <span class="pagination-item disabled">Newer</span>
  <% end %>
  </div>
  <div class="right">
  <%= if page.paginator.next_url do %>
  <a class="pagination-item" href="<%= page.paginator.next_url %>">Older</a>
  <% else %>
  <span class="pagination-item disabled">Older</span>
  <% end %>
  </div>
</div>
